<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>ToyCam</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>PressStart2P-Regular.ttf</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>토이카메라 실시간 미리보기를 위해 카메라를 사용합니다.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>촬영한 픽셀아트 사진을 저장하기 위해 사진 라이브러리에 접근합니다.</string>
</dict>
</plist>
